---
http_interactions:
- request:
    method: get
    uri: https://secure.paynetonline.com/search_for_company.asp?city=Durham&company_name=Acme%20Co&name_match_threshold=80&password=Che6eqas!&phone=2122234454&state_code=NC&user=paynet_direct_test@liftforward.com&version=0320
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <response error_code="0" version="0320"><companies><company><paynet_id>64753318</paynet_id><name><![CDATA[JULIA
        GRAY, LTD]]></name><aliases></aliases><tax_id></tax_id><street><![CDATA[979
        3RD AVE STE 711 ]]></street><city><![CDATA[NEW YORK]]></city><state_code>NY</state_code><postal_code>10022-1234</postal_code><country_code>USA</country_code><telephone>2122234454</telephone><match_score>88</match_score></company><company><paynet_id>84170380</paynet_id><name><![CDATA[ACME
        DOOR]]></name><aliases><alias><![CDATA[ACME OVERHEAD DOORS, INC]]></alias></aliases><tax_id></tax_id><street><![CDATA[433
        W MAIN ST ]]></street><city><![CDATA[DURHAM]]></city><state_code>NC</state_code><postal_code>27701-3217</postal_code><country_code>USA</country_code><additional_addresses><address><street><![CDATA[PO
        BOX 11394 ]]></street><city><![CDATA[DURHAM]]></city><state>NC</state><postal_code>27703-0394</postal_code><country_code>USA</country_code></address><address><street><![CDATA[904
        INDIANA AVE ]]></street><city><![CDATA[DURHAM]]></city><state>NC</state><postal_code>27703-4463</postal_code><country_code>USA</country_code></address></additional_addresses><telephone>9195988898</telephone><additional_phones><phone>9195987600</phone></additional_phones><match_score>87</match_score></company><company><paynet_id>92304243</paynet_id><name><![CDATA[ACME
        WELL CO INC]]></name><aliases></aliases><tax_id></tax_id><street><![CDATA[7990
        NC HIGHWAY 751 ]]></street><city><![CDATA[DURHAM]]></city><state_code>NC</state_code><postal_code>27713-6852</postal_code><country_code>USA</country_code><telephone>9199541940</telephone><additional_phones><phone>9195441940</phone></additional_phones><match_score>87</[...]
