---
http_interactions:
- request:
    method: get
    uri: https://secure.paynetonline.com/search_for_company.asp?address=76%209th%20Ave&city=New%20York&company_name=google&password=Che6eqas!&state_code=NY&user=paynet_direct_test@liftforward.com&version=0320
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<response error_code="0" version="0320"><companies><company><paynet_id>59715829</paynet_id><name><![CDATA[GOOGLE
        INC]]></name><aliases></aliases><tax_id></tax_id><street><![CDATA[111 EIGHTH
        AVE FL 6]]></street><city><![CDATA[NEW YORK]]></city><state_code>NY</state_code><postal_code>10011</postal_code><country_code>USA</country_code><additional_addresses><address><street><![CDATA[210
        THE BLUFFS STE D]]></street><city><![CDATA[AUSTELL]]></city><state>GA</state><postal_code>30168</postal_code><country_code>USA</country_code></address></additional_addresses><telephone>2125654924</telephone><additional_phones><phone>2125650000</phone><phone>2125650001</phone><phone>2129944862</phone><phone>4257395726</phone><phone>6502247302</phone><phone>6509999999</phone></additional_phones><match_score>98</match_score></company><company><paynet_id>160671134</paynet_id><name><![CDATA[GOOGLE
        CHROMEBOOK]]></name><aliases></aliases><tax_id></tax_id><street><![CDATA[41
        E 11TH ST FL 11 ]]></street><city><![CDATA[NEW YORK]]></city><state_code>NY</state_code><postal_code>10003-4602</postal_code><country_code>USA</country_code><telephone></telephone><match_score>91</match_score></company><company><paynet_id>159935041</paynet_id><name><![CDATA[GOOGLE
        OFFERS]]></name><aliases></al[...]
